@model int
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">@Localizer["OrderSubmissionMsg"]</h1>
        @Localizer["OrderNumberMsg"] @Model <br /><br />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        @Localizer["OrderPlacedMsg"] 
        <br />
    </div>
</div> 